@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.Global{
    height: 500px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0, 0.7)), url("../../img/jumbotron.jpg");
    background-position: 50% 98%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(3, 3, 44); */
    text-align: center;
    padding: 30px 3%;
    color: white;
}

h3.judul-global{
  margin: 40px 0 20px;
}

.judul-besar,.judul-global{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}